// #editor{
//   height: 100% !important;
//   width: 100%;
// }

// div{
//   //background-color: aqua;
//   border-color: #000000;
//   border-radius: 4px !important;
// }

#editor{
  //height: 100% !important;
  //padding-bottom: 100%;
  background-color: #2c2f33;
}


#toolbar{
  padding: 15px;
  position: sticky;
}

#button-col{

  text-align: center;

  //fix vertical alingnmen


}

button{
  margin-left: 20px;
}

#test{
  background-color: red;
  //padding-bottom: 100%;
}
