<p-toast></p-toast>

<div class="p-grid p-dir-col grid" >
  <div class="p-col" id="toolbar">
    <div id="button-col">
        <button pButton type="button" icon="pi pi-play" iconPos="left" label="Run"  ></button>
        <button pButton type="button" icon="pi pi-save" iconPos="left" label="Save" (click)="saveFile()"></button>
        <button pButton type="button" icon="pi pi-folder" iconPos="left" label="Open Project" (click)="gotoHomePage()" ></button>
        <!-- <button pButton type="button" icon="pi pi-folder" iconPos="left" label="New Project" (click)="gotoNewProjectPage()"></button> -->
        <button pButton type="button" icon="pi pi-user" iconPos="left" label="Git Intigration"></button>

        <button pButton type="button" icon="pi pi-sitemap" iconPos="left" label="Toggle Filetree" (click)="toggleFiletree()"></button>


    </div>

  </div>

  <div class="p-col" id="editor-grid">
    <div class="p-grid" id="inner-grid">
      <div *ngIf="filetreeVisible" class="p-col-fixed" id="file-col">
        <div id="tree">
        <p-tree [value]= tree selectionMode="single" (onNodeSelect)="swapDoc($event)"></p-tree>
      </div>
      </div>
      <div class="p-col" id="codeeditor">
          <div id="editor"></div>
          <!-- <textarea id="area"></textarea> -->
    </div>
    </div>
</div>
</div>




