<div class="p-grid p-dir-col">
  <div class="p-col" id="toolbar">
    <div id="button-col">
        <button pButton type="button" icon="pi pi-play" iconPos="left" label="Run"></button>
        <button pButton type="button" icon="pi pi-save" iconPos="left" label="Save"></button>
        <button pButton type="button" icon="pi pi-folder" iconPos="left" label="Open Project"></button>
        <button pButton type="button" icon="pi pi-user" iconPos="left" label="Git Intigration"></button>

        <button pButton type="button" icon="pi pi-sitemap" iconPos="left" label="Toggle Filetree" (click)="toggleFiletree()"></button>


    </div>

  </div>
<div class="p-align-center">
  <div class="p-col" id="editor-grid">
    <div class="p-grid">
      <div *ngIf="filetreeVisible" class="p-col-fixed" id="test">
        <p-tree [value]=tree></p-tree>
      </div>
      <div class="p-col">
          <div id="editor"></div>
    </div>
    </div>
</div>
</div>






</div>




