.back-button{
  margin-top: 10px;
  margin-left: 10px;
}

#project-page{

  text-align: center;


}

label{

  font-weight: bold;
}
input{
  margin-left: 10px;
  // background-color: #2c2f33;
  border-radius: 5px;

}

p-dropdown{

  margin-left: 10px;
  // background-color: #2c2f33;
  border-radius: 5px;

}

.form-group{

  margin-bottom: 20px;
}
