/* You can add global styles to this file, and also import other style files */
@import "~codemirror/lib/codemirror";
@import "~codemirror/theme/darcula";
@import "~codemirror/theme/material";
@import "~codemirror/theme/3024-night";




html, body {
  margin: 0;


  background-color: #2c2f33;
  color: white;
  font-family: Arial, Helvetica, sans-serif;

  height: 100%;
}

.container{

  text-align: center;
  //padding: 150px;

  position: relative;
  top: 50%;
  transform: translateY(50%);
}

::-webkit-scrollbar {
  display: none;
}

button {
  background-color: #7289da !important;
  border-color: #7289da !important;

  // might change the colors
  padding: 15px 30px;
  color: white !important;
  font-weight: bold;

  border-radius: 5px;



}
